<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <content th:replace="contents/init :: head"></content>
    <title>Trang chủ</title>
</head>
<body class="app sidebar-mini rtl" >
<div id="global-loader" ></div>
<div class="page">
    <div class="page-main">
        <content th:replace="contents/menu-bar :: content"></content>

        <!-- Main Content-->
        <div class="app-content ">
            <div class="side-app">
                <div class="main-content">
                    <!--Top Navigator-->
                    <content th:replace="contents/top-nav :: content"></content>
                    <div class="container-fluid pt-8" style="min-height: 400px">
                        <!-- Short menu -->
                        <div class="page-header mt-0 shadow p-3">
                            <ol class="breadcrumb mb-sm-0">
                                <li class="breadcrumb-item"><a th:href="@{/home/index.html}"><i class="side-menu__icon fe fe-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Sản lượng kênh wap theo ngày</li>
                            </ol>
                        </div>

                        <div id="messageResult" th:class="${messageResult != null and #strings.startsWith(messageResult,'ERROR:')} ? 'alert alert-danger' : 'alert alert-success'"
                             th:if="${messageResult}" th:text="${messageResult != null and messageResult != ''} ? ${#strings.replace(messageResult,'ERROR:','')} : ''"></div>

                        <div class="row">
                            <div class="col-md-12 pad10_lr">
                                <div class="card shadow">
                                    <div class="card-header">
                                        <h2 class="mb-0">TÌM KIẾM</h2>
                                    </div>
                                    <div class="card-body">
                                        <form th:object="${fromObj}" th:action="@{/reportWap/quantity-wap-chanel.html}" method="POST" class="frmMain">
                                            <div class="row">
                                                <input type="hidden" id="contextPath" th:value="@{/}">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">FROM DATE</label>
                                                        <input class="form-control" type="text" name="fromDateStr" th:field="${fromObj.fromDateStr}" maxlength="20" placeholder="" value=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">TO DATE</label>
                                                        <input class="form-control" type="text" name="toDateStr" th:field="${fromObj.toDateStr}" maxlength="20" placeholder="" value=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 btn-submit-form align-center">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btn-width100">SEARCH</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 pad10_lr">
                                <div class="card shadow">
                                    <div class="card-header">
                                        <h2 class="mb-0">SẢN LƯỢNG KÊNH WAP THEO NGÀY&nbsp;<div  th:remove="tag"></div></h2>
                                    </div>
                                    <div class="card-body">
                                        <!--<div class="pad2rem-bottom">-->
                                        <!--<div class="col-md-2 no-pad float-left">-->
                                        <!--<content th:replace="contents/pageSize :: content"></content>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-10 no-pad float-right">-->
                                        <!--<content th:replace="contents/panigator :: content(page = ${page})"></content>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                        <div class="table-responsive">
                                            <table id="tblData" class="table table-striped table-bordered w-100 text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th class="text-center col-10">STT</th>
                                                    <th class="text-center text_vertical_middle" >Ngày</th>
                                                    <th class="text-center text_vertical_middle" >TBĐK</th>
                                                </thead>
                                                <tbody th:if="${page.content}">
                                                <tr th:each="eachRow, iterStat : ${page.content}">
                                                    <td class="text-center" th:text="${iterStat.count + (page.number * page.size)}" data-title="STT"></td>
                                                    <td class="text-center" th:text="${eachRow.dateReport}" data-title="Ngày"></td>
                                                    <td class="text-center" th:text="${#numbers.formatDecimal(eachRow.numRegAll,0,'POINT',0,'COMMA')}" data-title=""></td>
                                                </tr>
                                                <tr class="table_empty" th:if="${#lists.isEmpty(page.content)}">
                                                    <td colspan="16">KHÔNG CÓ BẢN GHI!</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Footer-->
                        <content th:replace="contents/footer :: content"></content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
<content th:replace="contents/init :: script"></content>
<script>
    $('input[name=fromDateStr]').daterangepicker({
        "singleDatePicker": true,
        "timePicker": false,
        "timePicker24Hour": true,
        "timePickerSeconds": true,
        "alwaysShowCalendars": false,
        "locale": {
            "direction": "ltr",
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        }
    }, function(start, end, label) {
        //console.log('New date range selected: ' + start.format('YYYY-MM-DD hh:mm:ss') + ' to ' + end.format('YYYY-MM-DD hh:mm:ss') + ' (predefined range: ' + label + ')');
    });

    $('input[name=toDateStr]').daterangepicker({
        "singleDatePicker": true,
        "timePicker": false,
        "timePicker24Hour": true,
        "timePickerSeconds": true,
        "alwaysShowCalendars": false,
        "locale": {
            "direction": "ltr",
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        }
    }, function(start, end, label) {
        //console.log('New date range selected: ' + start.format('YYYY-MM-DD hh:mm:ss') + ' to ' + end.format('YYYY-MM-DD hh:mm:ss') + ' (predefined range: ' + label + ')');
    });

    $("#messageResult").hide().fadeIn(0).delay(1000).fadeOut(1000);
</script>
</body>
</html>