<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
    <content th:replace="contents/init :: head"></content>
	<!-- Single-page CSS -->
	<link th:href="@{/assets/plugins/single-page/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body class="bg-gradient-primary">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-5">
				<form class="login100-form validate-form" role="form" action="/account/onchange_pass.html" th:action="@{/account/onchange_pass.html}" method="POST">
					<span class="login100-form-title">
						THAY ĐỔI MẬT KHẨU
					</span>
	
					<div class="wrap-input100 validate-input" data-validate = "Old password is required">
						<input class="input100" type="password" name="old_password" placeholder="Old password" th:value="${old_password}" autofocus="autofocus" required=""/>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "New password is required">
						<input id="passwordTxt" class="input100" type="password" name="new_password" placeholder="New password" th:value="${new_password}" required=""/>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "New password is not match">
						<input id="passwordTxtConfirm" class="input100" type="password" name="verify_password" placeholder="Confirm password" th:value="${verify_password}" required="" />
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login40-form-btn btn-success margin10-right" type="submit">OK</button>
						<button class="login40-form-btn btn-danger" onclick="window.history.back()" type="button">CANCEL</button>
					</div>

					<div class="text-center pt-1">
						<div>
                            <p>Copyright © 2018.</p>                            
                        </div>
					</div>
					<input type="hidden" name="username" th:value="${username}"/>
				</form>
			</div>
		</div>
	</div>

	<content th:replace="contents/init :: script"></content>
</body>
</html>

