<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
    <content th:replace="contents/init :: head"></content>
	<!-- Single-page CSS -->
	<link th:href="@{/assets/plugins/single-page/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body class="bg-gradient-primary">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-5">
				<form class="login100-form validate-form" role="form" action="/login.html" th:action="@{/login.html}" method="POST">				
					<span class="login100-form-title">
						LOGIN
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="j_username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-circle" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="j_password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn btn-success" type="submit">Đăng nhập</button>
					</div>

					<div class="text-center pt-2">
						<span class="txt1">
							Quên
						</span>
						<a class="txt2" href="#">
							Tài khoản / Mật khẩu?
						</a>
					</div>

					<div class="text-center pt-1">
						<div>
                            <p>Copyright © 2018.</p>
                            <!--<img style="width: 200px" alt="" th:src="@{/assets/img/brand/logo-dark.png}"/>-->
                        </div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<content th:replace="contents/init :: script"></content>
</body>
</html>

