<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">
		.cfont {
			font-size: 13px;
		}
		.cfont_bold {
			font-weight: bold;
			/*color: #0088cc;*/
		}
        .cfont_bold .c_valign_top{
            text-align: center;
        }
        .c_align_center {
            text-align: center;
        }
		.creport {
			padding-left: 20px;
		}
        .cmain {
            width: 1600px;
        }
        .c_valign_top {
            vertical-align: top;
        }
        .c_heading1 {
            margin: 10px 0px;
            text-align: left;
            font-size: 18px;
            color: #0c85d0;
        }
		@media (max-width: 767.98px) {
			.cfont {
				font-size: 12px;
			}
			.cfont table {
				font-size: 12px;
			}
			.creport {
				padding-left: 5px;
			}
		}
		
		.th td {
			font-weight: bold;
			text-align: center;
		}

		td {
			height: 25px;
			line-height: 25px;
		}
        
	</style>
</head>
<body style="margin: 0; padding: 0;">
<div style="background: #e9e9e9; padding: 0px 0;">
    <div style="margin: 0px auto; background: #FFF;">
        <div class="adM"></div>
        <div style="min-height: 87px; margin: 10px auto auto 5px;">
            <div class="adM"></div>
            <div style="width: 268px; float: left">
                <a title="VANO Digital Service" href="http://vano.vn/" style="margin: 20px 0px" target="_blank">
                    <img src="http://vano.vn/Uploads/logo-vano-digital.png" height="60px"/>
                </a>
            </div>
            <div style="float: right; margin: 30px 20px 0 0">
                <span style="font-size: 18px; color: #0088cc;"><strong>&nbsp;</strong></span>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="min-height: 1px; margin: 0 auto; padding: 0 30px;; background-color: #ddd">
            <div style="float: right; margin: 9px 20px 0 0"></div>
        </div>
        <div class="cmain">
            <div class="creport cfont cfont_bold" style="margin: 0 auto;">
                <div class="c_heading1">
                    1. BÁO CÁO THỐNG KÊ KẾT QUẢ TRAO THƯỞNG CTKM
                </div>
                <table border="1" cellspacing="0">
                    <tr>
                        <td rowspan="2" width="100" class="c_valign_top c_align_center cfont_bold">TB đăng k&yacute; CTKM</td>
                        <td rowspan="2" width="100" class="c_valign_top c_align_center cfont_bold">TB PSC</td>
                        <td colspan="3" width="200" class="c_valign_top c_align_center cfont_bold">Kết quả cộng thưởng</td>
                        <td colspan="2" width="200" class="c_valign_top c_align_center cfont_bold">TB không được cộng thưởng</td>
                        <!--<td rowspan="2" width="100" class="c_valign_top c_align_center cfont_bold">Ghi chú</td>-->
                    </tr>
                    <tr>
                        <td width="100" class="c_valign_top c_align_center">TB đủ điều kiện cộng thưởng</td>
                        <td width="100" class="c_valign_top c_align_center">TB đã được cộng thưởng</td>
                        <td width="100" class="c_valign_top c_align_center">Tỷ lệ(TB đã được cộng thưởng/TB đủ DK cộng thưởng)</td>
                        <td width="100" class="c_valign_top c_align_center">Do chưa đáp ứng điều kiện cộng thưởng (trừ cước)</td>
                        <td width="150" class="c_valign_top c_align_center">Hủy trước khi đủ điều kiện cộng thưởng</td>
                    </tr>
                    <!--<tr style="height: 25px; line-height: 25px">-->
                        <!--<td class="c_align_center">(1)</td>-->
                        <!--<td class="c_align_center">(2)</td>-->
                        <!--<td class="c_align_center">(3)</td>-->
                        <!--<td class="c_align_center">(4)</td>-->
                        <!--<td class="c_align_center">(5)</td>-->
                        <!--<td class="c_align_center">(6)</td>-->
                        <!--<td class="c_align_center">(7)</td>-->
                        <!--<td class="c_align_center">(8)</td>-->
                        <!--<td class="c_align_center">(9)</td>-->
                        <!--<td class="c_align_center">(10)=(9)/(8)</td>-->
                        <!--<td class="c_align_center">(11)</td>-->
                        <!--<td class="c_align_center">(12)</td>-->
                        <!--<td class="c_align_center">(13)</td>-->
                    <!--</tr>-->
                    <tr th:each="one, iterStat : ${reportCTKM}" style="height: 25px; line-height: 25px">
                        <!--<td th:text="${iterStat.count}" style="text-align: center"></td>-->
                        <!--<td th:text="${one.serviceName}" style="text-align: left"></td>-->
                        <!--<td th:text="${one.promoName}" style="text-align: left"></td>-->
                        <!--<td th:text="${one.promoTime}" style="text-align: left"></td>-->
                        <!--<td th:text="${one.topupType}" style="text-align: left"></td>-->
                        <td th:text="${one.numSubsRegister}" style="text-align: right"></td>
                        <td th:text="${one.numSubsPsc}" style="text-align: right"></td>
                        <td th:text="${one.numSubsTopup}" style="text-align: right"></td>
                        <td th:text="${one.numSubsIsTopup}" style="text-align: right"></td>
                        <td th:text="${one.percentTopup}" style="text-align: right"></td>
                        <td th:text="${one.numSubsNotTopup}" style="text-align: right"></td>
                        <td th:text="${one.numSubsUnregTopup}" style="text-align: right"></td>
                        <!--<td th:text="${one.note}" style="text-align: left"></td>-->
                    </tr>
                </table>
            </div>
            <br/>
            <div class="creport cfont cfont_bold" style="margin: 0 auto;">
                <div class="c_heading1">
                    2. BÁO CÁO ĐÁNH GIÁ HIỆU QUẢ CTKM
                </div>
                <table border="1" cellspacing="0">
                    <tr>
                        <td width="50" class="c_valign_top c_align_center cfont_bold">TT</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">Dịch vụ</td>
                        <td width="200" class="c_valign_top c_align_center cfont_bold">Tên CTKM</td>
                        <td width="200" class="c_valign_top c_align_center cfont_bold">Thời gian triển khai CTKM</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">Hình thức cộng thưởng (TKC/ datacode, khác)</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">TB tham gia KM</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">TB hủy DV</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">TB active</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">TB PSC</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">Doanh thu kỳ báo cáo</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">Doanh thu lũy kế</td>
                        <td width="100" class="c_valign_top c_align_center cfont_bold">Chi phí KM</td>
                        <td width="50" class="c_valign_top c_align_center cfont_bold">Chênh lệch</td>
                    </tr>
                    <tr th:each="one, iterStat : ${reportCTKMEffect}" style="height: 25px; line-height: 25px">
                        <td th:text="${iterStat.count}" style="text-align: center"></td>
                        <td th:text="${one.serviceName}" style="text-align: left"></td>
                        <td th:text="${one.name}" style="text-align: left"></td>
                        <td th:text="${one.note}" style="text-align: left"></td>
                        <td th:text="${one.topupType}" style="text-align: left"></td>
                        <td th:text="${one.numSubsRegister}" style="text-align: right"></td>
                        <td th:text="${one.numSubsUnregTopup}" style="text-align: right"></td>
                        <td th:text="${one.numSubsActive}" style="text-align: right"></td>
                        <td th:text="${one.numSubsPsc}" style="text-align: right"></td>
                        <td th:text="${one.revenueCycleReport}" style="text-align: right"></td>
                        <td th:text="${one.revenueAccumulate}" style="text-align: right"></td>
                        <td th:text="${one.cpkmAmount}" style="text-align: right"></td>
                        <td th:text="${one.differrent}" style="text-align: left"></td>
                    </tr>
                </table>
            </div>
        </div>
		<br/>
		<div style="text-align: center; color: #999999; padding: 10px 0 20px 0; font-size: 11px;">Copyright © VANO Digital Service</div>        
    </div>
</div>
</body>
</html>