<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="margin: 0; padding: 0;">
<div style="background: #e9e9e9; padding: 0px 0;">
    <div style="width: 1000px; margin: 0px auto; background: #FFF; font-family: Tahoma, sans-serif; font-size: 11px;">
        <div style="width: 970px; min-height: 87px; margin: 0 auto; padding-top: 10px">
            <div class="adM"></div>
            <div style="width: 268px; float: left">
                <a title="VANO Digital Service" href="http://vano.vn/" style="margin: 20px 0px" target="_blank">
                    <img src="http://vano.vn/Uploads/logo-vano-digital.png" height="60px"/>
                </a>
            </div>
            <div style="float: right; margin: 30px 20px 0 0">
                <span style="font-size: 18px; color: #0088cc;"><strong>&nbsp;</strong></span>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="width: 970px; min-height: 1px; margin: 0 auto; padding: 0 15px;; background-color: #ddd">
            <div style="float: right; margin: 9px 20px 0 0"></div>
        </div>
        <div style="width: 970px; margin: 0 auto;">
            <div style="margin: 10px 0px; text-align: left; font-size: 15px; font-weight: bold; color: #0088cc;">
                Doanh thu
            </div>
            <style type="text/css">
                .th td {
                    font-weight: bold;
                    text-align: center
                }

                td {
                    height: 25px;
                    line-height: 25px
                }
            </style>
            <table style="width: 100%; font-family: Tahoma, sans-serif; font-size: 11px;" border="1" cellspacing="0" class="body">
                <tr class="th">
                    <td width="10%" style="text-align: center">Ngày</td>
                    <td width="10%" style="text-align: center">Gói M</td>
                    <td width="10%" style="text-align: center">Gói P</td>
                    <td width="10%" style="text-align: center">Mua lẻ</td>
                    <td width="10%" style="text-align: center">Tổng<br/>doanh thu</td>
                    <td width="15%" style="text-align: center">Doanh thu<br/>lũy kế tháng</td>
                    <td width="15%" style="text-align: center">So với cùng kỳ<br/>tháng trước</td>
                </tr>
                <tr th:each="one : ${lstData}" style="height: 25px; line-height: 25px">
                    <td th:text="${one.dateReport}" style="text-align: center"></td>
                    <td th:text="${#numbers.formatDecimal(one.revenuePkgDaily, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.revenuePkgWeekly, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.revenueBuyOdd, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.totalRevenue, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.cumulativeSum, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.cumulativeSumPrev, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                </tr>
            </table>

            <div style="margin: 10px 0px; text-align: left; font-size: 15px; font-weight: bold; color: #0088cc;">
                Sản lượng
            </div>
            <style type="text/css">
                .th td {
                    font-weight: bold;
                    text-align: center
                }

                td {
                    height: 25px;
                    line-height: 25px
                }
            </style>
            <table style="width: 100%; font-family: Tahoma, sans-serif; font-size: 11px;" border="1" cellspacing="0" class="body">
                <tr class="th">
                    <td width="10%" style="text-align: center" rowspan="2">Ngày</td>
                    <td width="5%" style="text-align: center" rowspan="2">TBĐK<br/>mới</td>
                    <td width="5%" style="text-align: center" rowspan="2">TBĐK<br/>lại</td>
                    <td width="5%" style="text-align: center" rowspan="2">Hệ thống<br/>hủy</td>
                    <td width="5%" style="text-align: center" rowspan="2">TB<br/>tự hủy</td>
                    <!--<td width="5%" style="text-align: center" rowspan="2">Tổng TB<br/>lũy kế</td>-->
                    <td width="5%" style="text-align: center" rowspan="2">TB<br/>sử dụng</td>
                    <td width="5%" style="text-align: center" rowspan="2">TB<br/>PSC</td>
                    <td width="5%" style="text-align: center" rowspan="2">Tỷ lệ trừ cước<br/>(%)</td>
                    <td width="5%" style="text-align: center" rowspan="2">Tổng ĐK</td>
                    <td width="5%" style="text-align: center" rowspan="2">Tổng hủy</td>
                    <td width="5%" style="text-align: center" rowspan="2">Tổng<br/>gia hạn</td>
                    <td width="30%" style="text-align: center" colspan="4">Kênh đăng ký</td>
                </tr>
                <tr class="th">
                    <td width="5%" style="text-align: center">WEB</td>
                    <td width="5%" style="text-align: center">WAP</td>
                    <td width="5%" style="text-align: center">SMS</td>
                    <td width="5%" style="text-align: center">VASGATE</td>
                    <!--<td width="5%" style="text-align: center">CTKM</td>-->
                </tr>
                <tr th:each="one : ${lstQuantity}" style="height: 25px; line-height: 25px">
                    <td th:text="${one.dateReport}" style="text-align: center"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRegnew, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRenew, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numCancelSys, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numCancelSub, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numActive, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numPsc, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${one.numRate}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRegAll, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numCancelSys + one.numCancelSub, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numExtendAll, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRegSms, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRegWeb, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRegWap, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                    <td th:text="${#numbers.formatDecimal(one.numRegVasgate, 0, 'COMMA', 0, 'POINT')}" style="text-align: right"></td>
                </tr>
            </table>
            <p>
                Mọi thắc mắc của quý khách vui lòng liên hệ với bộ phận chăm sóc khách hàng qua số điện thoại <strong>(024) 7106 0808</strong>
            </p>
        </div>
        <div style="width: 970px; margin: 0 auto; padding: 0 15px;; background-color: #002344;">
            <table style="width: 970px; margin: 10px auto; color: #FFF; font-size: 13px;">
                <tbody>
                <tr height="15px">
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td style="text-transform: uppercase; font-weight: bold; font-size: 13px;" colspan="4">Công ty cổ phần VANO
                    </td>
                </tr>
                <tr>
                    <td colspan="4">Địa chỉ: Tầng 2, tòa nhà VIMECO, Lô E9, Phạm Hùng, Trung Hòa, Cầu Giấy, Hà Nội.</td>
                </tr>
                <tr>
                    <td colspan="4">Website: <a target="_blank" style="color: #FFF;" href="http://vano.vn" title=""><strong>www.vano.vn</strong></a>
                    </td>
                </tr>
                <tr height="15px">
                    <td colspan="4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p style="text-align: center; color: #999999; padding: 6px 0 20px 0; font-size: 11px;">Copyright © VANO Digital Service</p>
    </div>
</div>
</body>
</html>