<content th:fragment="content" th:remove="tag">
    <!-- Footer -->
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                </div>
            </div>
            <div class="col-xl-6">
                <p class="float-right text-sm font-weight-500">Copyright © 2020-2021™</p>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</content>