<content th:fragment ="head" th:remove="tag">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<!--<link rel="icon" type="image/png" th:href="@{/resources/image/vano-logo.png}"/>-->

	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<!-- Favicon -->
	<link th:href="@{/assets/img/brand/favicon.png}" rel="icon" type="image/png">

	<!-- Fonts -->
	<!--<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">-->
	<link th:href="@{/assets/css/font.css}" rel="stylesheet">

	<!-- Icons -->
	<link th:href="@{/assets/css/icons.css}" rel="stylesheet">

	<!--Bootstrap.min css-->
	<link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Ansta CSS -->
	<link th:href="@{/assets/css/dashboard.css}" rel="stylesheet" type="text/css">

	<!-- Tabs CSS -->
	<link th:href="@{/assets/plugins/tabs/style.css}" rel="stylesheet" type="text/css">

	<!-- jvectormap CSS -->
	<link th:href="@{/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />

	<!-- Custom scroll bar css-->
	<link th:href="@{/assets/plugins/customscroll/jquery.mCustomScrollbar.css}" rel="stylesheet" />

	<!-- Sidemenu Css -->
	<link th:href="@{/assets/plugins/toggle-sidebar/css/sidemenu.css}" rel="stylesheet">

	<!-- Custom CSS -->
	<link th:href="@{/assets/css/custom.css}" rel="stylesheet">

	<!-- DaterangePicker CSS-->
	<link th:href="@{/assets/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
</content>


<!--init script-->
<content th:fragment="script" th:remove="tag">
	<!-- Ansta Scripts -->
	<!-- Core -->
	<script th:src="@{/assets/plugins/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/assets/js/popper.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Echarts JS -->
	<!--<script th:src="@{/assets/plugins/chart-echarts/echarts.js}"></script>-->

	<!-- Fullside-menu Js-->
	<script th:src="@{/assets/plugins/toggle-sidebar/js/sidemenu.js}"></script>

	<!-- Custom scroll bar Js-->
	<script th:src="@{/assets/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js}"></script>

	<!-- peitychart -->
	<script th:src="@{/assets/plugins/peitychart/jquery.peity.min.js}"></script>
	<script th:src="@{/assets/plugins/peitychart/peitychart.init.js}"></script>

	<!-- DaterangePicker JS-->
	<script th:src="@{/assets/plugins/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/assets/plugins/daterangepicker/daterangepicker.js}"></script>

	<!-- Vector Plugin -->
	<!--
	<script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js}"></script>
	<script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<script th:src="@{/assets/plugins/jvectormap/gdp-data.js}"></script>
	<script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js}"></script>
	<script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-uk-mill-en.js}"></script>
	<script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-au-mill.js}"></script>
	<script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-ca-lcc.js}"></script>
	<script th:src="@{/assets/js/dashboard2map.js}"></script>
	-->

	<!-- Data tables -->
	<script th:src="@{/assets/plugins/datatable/jquery.dataTables.min.js}"></script>
	<script th:src="@{/assets/plugins/datatable/dataTables.bootstrap4.min.js}"></script>

	<!-- Ansta JS -->
	<script th:src="@{/assets/js/custom.js}"></script>
	<!--<script th:src="@{/assets/js/dashboard-sales.js}"></script>-->
	<!-- -->
	<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

	<script type="text/javascript">
        $(window).on('load',function () {
            $('#page-wrapper').css('min-height','900');
        })
        var size;
        var panigator = (function () {
            var goToPageUrl = function (page) {
                var curUrl = window.location.href;

                size = $('#btnTableLengthId').text();
                if(size == undefined) {
                    size = 10;
                }

                var returnUrl;
                if (curUrl.indexOf('?') == -1) {
                    returnUrl = curUrl += '?page=' + page + "&size=" + size;
                } else if (curUrl.indexOf('?page=') != -1) {
                    returnUrl = curUrl.replace(/\?page=[^&]*/, '?page=' + page);
                } else if (curUrl.indexOf('&page=') != -1) {
                    returnUrl = curUrl.replace(/&page=[^&]*/, '&page=' + page);
                } else {
                    returnUrl = curUrl += '&page=' + page;
                }
                if (returnUrl.indexOf('&size=') != -1) {
                    returnUrl = returnUrl.replace(/&size=[^&]*/, '&size=' + size);
                } else {
                    returnUrl = returnUrl  += '&size=' + size;
                }
                window.location.href = returnUrl;
            }
            return {
                'goToPageUrl' : goToPageUrl
            }
        })();

        function viewPageSize(value) {
            $('#btnTableLengthId').text(value);
            panigator.goToPageUrl(0);
        }
	</script>

</content>