<content th:fragment="content" th:remove="tag">
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar ">
        <div class="sidebar-img">
            <a class="navbar-brand" th:href="@{/home/index.html}">
            </a>
            <ul class="side-menu">
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="side-menu__icon fe fe-home"></i>
                        <span class="side-menu__label">TRANG CHỦ</span>
                    </a>
                </li>
                <li class="slide" sec:authorize="hasAnyAuthority('SADMIN','ADMIN')">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="side-menu__icon fe fe-grid"></i>
                        <span class="side-menu__label">HỆ THỐNG</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/thread/list.html}" class="slide-item">Quản lý tiến trình</a>
                        </li>
                    </ul>
                </li>
				<li class="slide" sec:authorize="hasAnyAuthority('SADMIN','ADMIN','CSKH','VMS_ADMIN')">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="side-menu__icon fe fe-dollar-sign"></i>
                        <span class="side-menu__label">BÁO CÁO</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/report/quantity-day.html}" class="slide-item">Sản lượng theo ngày</a>
                        </li>
                    </ul>
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/report/revenue-day.html}" class="slide-item">Doanh thu theo ngày</a>
                        </li>
                    </ul>
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/report/fromlink-day.html}" class="slide-item">Link truyền thông </a>
                        </li>
                    </ul>

                </li>
                <li class="slide" sec:authorize="hasAnyAuthority('SADMIN','ADMIN','URL_REPORT','VMS_ADMIN')">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="side-menu__icon fe fe-dollar-sign"></i>
                        <span class="side-menu__label">BÁO CÁO URL</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/reportUrl/fromlink-day1.html}" class="slide-item">Link truyền thông </a>
                        </li>
                    </ul>

                </li>
                <li class="slide" sec:authorize="hasAnyAuthority('SADMIN','ADMIN','WAP_REPORT','VMS_ADMIN')">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="side-menu__icon fe fe-dollar-sign"></i>
                        <span class="side-menu__label">BÁO CÁO WAP</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                    <!--<ul class="slide-menu">-->
                        <!--<li>-->
                            <!--<a th:href="@{/reportWap/quantity-day-wap.html}" class="slide-item">Sản lượng </a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/reportWap/quantity-wap-chanel.html}" class="slide-item">Sản lượng kênh WAP</a>
                        </li>
                    </ul>


                </li>

                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-user"></i><span class="side-menu__label">TÀI KHOẢN</span><i class="angle fa fa-angle-right"></i></a>
                    <ul class="slide-menu">
                        <li>
                            <a th:href="@{/account/index.html}" class="slide-item">QUẢN LÝ TÀI KHOẢN</a>
                        </li>
                        <li>
                            <a th:href="@{/account/change_password.html}" class="slide-item">ĐỔI MẬT KHẨU</a>
                        </li>
                        <li>
                            <a th:href="@{/logout.html}" class="slide-item">ĐĂNG XUẤT</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Sidebar menu-->
</content>